* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.App .card {
  border: 2px solid #d3d6db;
  border-radius: 10px;
}

.App .weather-watch-card-body {
  background: linear-gradient(180.3deg,
      rgb(214, 224, 255) 37.2%,
      rgb(254, 168, 168) 137.3%);

  margin: 40px auto;
  max-width: 800px;
  padding: 30px;
}