/* current conditions section of app */

.CurrentConditions .current-city {
  font-size: 44px;
  margin-bottom: 2px;
}

.CurrentConditions .current-conditions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

.CurrentConditions .current-conditions-description {
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 5px;
}

/* capitalize only the first word of the current conditions description */
.CurrentConditions .current-conditions-description::first-letter {
  text-transform: capitalize;
}

@media (max-width: 760px) {
  .CurrentConditions .current-conditions {
    align-items: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
    text-align: center;
  }
}
