.Forecast .multi-day-forecast {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 760px) {
  .Forecast .multi-day-forecast {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
